<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <div class="container text-center text-white fw-bold">
      <h1>STARWARS</h1>
    </div>
  </div>
</nav>
<div class="container text-center mt-5">
  <div class="row">
    <div class="col-3">
      <app-filters
        (selectedFilmValue)="selectedFilm($event)"
        (selectedSpeciesValue)="selectedSpecies($event)"
      ></app-filters>
    </div>

    <div class="col-5">
      <h3>CHARACTERS</h3>
      <div class="list-group scrollable-div">
        <ng-container *ngFor="let person of filteredData; let i = index">
          <a
            href="#"
            class="list-group-item list-group-item-action"
            (click)="getDetail(person)"
          >
            {{ person.name }}
          </a>
        </ng-container>
      </div>
      <p class="fs-6 text-end">{{ filteredData.length }} people found</p>
    </div>

    <div class="col-4">
      <app-details [person]="characterDetail"></app-details>
    </div>
  </div>
</div>
